@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook.ttf") format("ttf"), url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.eot") format("eot");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/Gotham Medium Regular.ttf") format("ttf"), url("../fonts/gotham-medium-webfont.woff") format("woff"), url("../fonts/gotham-medium-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/gothambold1.ttf") format("ttf"), url("../fonts/gothambold1.woff") format("woff"), url("../fonts/gothambold1.eot") format("eot");
  font-style: normal;
  font-weight: 700;
}

html, body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #fff;
  font-family: 'GothamBook', sans-serif;
  overflow: hidden;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

#arrowTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 4;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #252022;
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  #arrowTop {
    right: 25px;
    bottom: 25px;
  }
}

#arrowTop::before {
  width: 50px;
  height: 25px;
  content: '';
  background: url("../img/svg/chevron-down-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}

.header .header__menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1325px;
  width: 100%;
  padding: 0 25px;
}

.header .header__menu input.hamburger {
  display: none;
}

.header .header__menu label.hamburger {
  display: none;
}

@media screen and (max-width: 992px) {
  .header .header__menu label.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 25px;
  }
}

.header .header__menu .menu-label {
  display: none;
}

@media screen and (max-width: 992px) {
  .header .header__menu .menu-label {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .header__menu .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .header .header__menu .logo-container img {
    width: 180px;
  }
}

.header .header__menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 845px;
  width: 100%;
  padding-left: 25px;
}

.header .header__menu .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  width: 100%;
}

.header .header__menu .nav__menu .menu__item {
  position: relative;
}

.header .header__menu .nav__menu .menu__item::after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  width: 100%;
  border-bottom: 2px solid #fff;
  opacity: 0;
}

.header .header__menu .nav__menu .menu__item:hover::after {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.header .header__menu .nav__menu .menu__item .menu__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .header__menu .nav__menu .menu__item .menu__link::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9px;
  height: 9px;
  content: '';
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 15px;
}

.header .header__menu .nav__menu .menu__item .active::before {
  background-color: #fff;
}

.header .arrow-icon {
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border: 1px solid #ccddfb;
  border-radius: 50%;
}

.header .arrow-icon:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header .arrow-icon img {
  width: 10px;
  height: 11px;
}

.header .slider1 {
  width: 100%;
  height: 800px;
  position: relative;
}

.header .slider1 .slick-dots {
  height: 206px;
  top: 50%;
  right: 20px;
  margin-top: -103px;
}

.header .slider1 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .slider1 .slider__item {
  position: relative;
}

.header .slider1 .slider__item .header__textblock {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin-top: -56px;
  text-transform: uppercase;
  padding: 0 5px;
}

@media screen and (max-width: 576px) {
  .header .slider1 .slider__item .header__textblock {
    padding-top: 20px;
  }
}

.header .slider1 .slider__item .header__textblock .header__title {
  font-family: 'GothamBold', sans-serif;
  letter-spacing: 4px;
  font-size: calc(20px + (80 - 20) * ((100vw - 320px) / (1800 - 320)));
}

.header .slider1 .slider__item .header__textblock .header__text {
  padding-top: 25px;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1800 - 320)));
  letter-spacing: 5.4px;
  text-align: center;
}

.header .slider1 .slider__item picture img {
  width: 100%;
  height: 100vh;
  opacity: 0.1;
}

@media screen and (max-width: 576px) {
  .header .slider1 .slider__item picture img {
    height: 100vh;
  }
}

.nav__menu_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 165px;
  width: 100%;
  padding-left: 25px;
}

.nav__menu_2 .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav__menu_2 .icon-container:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  list-style-type: none;
}

.slick-dots .slick-active {
  border-radius: 50%;
  background-color: #fff;
}

.slick-dots button {
  display: block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: 1px solid #fff;
}

.slick-dots button:hover {
  cursor: pointer;
}

.title {
  position: relative;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'GothamBold', sans-serif;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 40px;
  }
}

.title::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  border-bottom: 1px solid #2c4058;
  margin-left: -50px;
}

.block__btn {
  position: relative;
  width: 190px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #2c4058;
  overflow: hidden;
  font-family: 'GothamBook', sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .block__btn {
    margin: 0 auto;
  }
}

.block__btn::after, .block__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  z-index: -1;
  width: 190px;
  height: 50px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: #2c4058;
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}

.block__btn::after {
  left: -120%;
}

.block__btn::before {
  right: -120%;
}

.block__btn:hover {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  color: #fff;
  cursor: pointer;
}

.block__btn:hover::after {
  -webkit-transform: skewX(45deg) translateX(69%);
          transform: skewX(45deg) translateX(69%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.block__btn:hover::before {
  -webkit-transform: skewX(45deg) translateX(-69%);
          transform: skewX(45deg) translateX(-69%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.projects {
  position: relative;
  padding: 140px calc(50vw - (1170px / 2));
  color: #2c4058;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .projects {
    padding: 80px calc(50vw - (1170px / 2));
  }
}

@media screen and (max-width: 1200px) {
  .projects {
    padding: 60px calc(50vw - (1170px / 2));
  }
}

@media screen and (max-width: 576px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px calc(50vw - (1170px / 2));
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .projects .content {
    padding: 0 10px;
  }
}

@media screen and (max-width: 576px) {
  .projects .content__title {
    padding-bottom: 20px;
  }
}

.projects .content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 470px;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .projects .content .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 576px) {
  .projects .content .box {
    padding: 0 10px;
  }
}

@media screen and (max-width: 576px) {
  .projects .content .box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.projects .content .content__box_1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 170px;
  margin-bottom: 210px;
}

@media screen and (max-width: 1200px) {
  .projects .content .content__box_1 {
    margin: 70px 0;
  }
}

@media screen and (max-width: 992px) {
  .projects .content .content__box_1 {
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .projects .content .content__box_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 170px;
  }
}

@media screen and (max-width: 576px) {
  .projects .content .content__box_1 {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .projects .content .content__box_2 {
    margin-top: 170px;
  }
}

@media screen and (max-width: 576px) {
  .projects .content .content__box_2 {
    margin-top: 270px;
  }
}

@media screen and (max-width: 576px) {
  .projects .content .content__box_2 {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .projects .content .content__block_1 {
    padding-left: 55px;
  }
}

@media screen and (max-width: 992px) {
  .projects .content .content__block_1 {
    padding-left: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .projects .content .content__block_2 {
    padding-right: 55px;
  }
}

@media screen and (max-width: 992px) {
  .projects .content .content__block_2 {
    padding-right: 25px;
  }
}

@media screen and (max-width: 768px) {
  .projects .content .content__block_2 {
    padding-right: 0;
  }
}

.projects .content .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 470px;
  height: 350px;
}

@media screen and (max-width: 992px) {
  .projects .content .block {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .projects .content .block {
    width: 500px;
    padding-top: 15px;
    padding-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .projects .content .block {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 0;
  }
}

.projects .content .block__description {
  font-size: 22px;
}

.projects .content .block__title {
  font-size: 44px;
  font-family: 'GothamBold', sans-serif;
}

.projects .content .block__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: none;
  line-height: 1.5;
}

.projects .content .block a {
  color: #2c4058;
  text-transform: none;
  font-style: italic;
}

.projects .content .block a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.projects .content .block__btn {
  margin-top: 35px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .projects .content .block__btn {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 992px) {
  .projects .content .block__btn {
    margin: 10px 0;
  }
}

.projects .content .img-container {
  position: absolute;
  max-width: 630px;
  width: 100%;
  height: 470px;
}

@media screen and (max-width: 1200px) {
  .projects .content .img-container {
    position: static;
    max-width: 500px;
    height: 350px;
  }
}

@media screen and (max-width: 576px) {
  .projects .content .img-container {
    max-width: 600px;
  }
}

.projects .content .img-container img {
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .projects .content .img-container img {
    position: static;
    width: 100%;
    height: 350px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
  }
}

.projects .content .img-cnt-1 {
  top: 290px;
  left: 0;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #55b7ff;
}

@media screen and (max-width: 1200px) {
  .projects .content .img-cnt-1 {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 992px) {
  .projects .content .img-cnt-1 {
    margin-bottom: 0;
  }
}

.projects .content .img-cnt-2 {
  right: 0;
  bottom: 210px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #7e5aff;
}

@media screen and (max-width: 1200px) {
  .projects .content .img-cnt-2 {
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 992px) {
  .projects .content .img-cnt-2 {
    margin-bottom: 0;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 160px calc(50vw - (1170px / 2));
  background: linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);
}

@media screen and (max-width: 1200px) {
  .news {
    padding: 80px calc(50vw - (1170px / 2));
  }
}

@media screen and (max-width: 1200px) {
  .news {
    padding: 60px calc(50vw - (1170px / 2));
  }
}

.news .slider2 {
  position: relative;
  max-width: 1170px;
  width: 100%;
  height: 515px;
}

.news .slider2 .slick-dots {
  bottom: -2.5rem;
  left: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 206px;
  margin-left: -106px;
}

@media screen and (max-width: 1200px) {
  .news .slider2 .slick-dots {
    bottom: -7%;
  }
}

.news .slider2 .slick-arrow {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.news .slider2 .slick-arrow:hover {
  cursor: pointer;
}

.news .slider2 .slick-prev {
  top: 50%;
  left: -100px;
  background-image: url("../img/svg/chevron-left-solid.svg");
  margin-top: -20px;
}

.news .slider2 .slick-next {
  top: 50%;
  right: -100px;
  background-image: url("../img/svg/chevron-right-solid.svg");
  margin-top: -20px;
}

.news .slider2 .slick-list {
  width: 100%;
  height: 515px;
  overflow: hidden;
}

.news .slider2 .slick-list .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 515px;
}

.news .slider2 .slick-list .slick-track .item {
  width: 370px !important;
  height: 515px;
  background-color: #fff;
  color: #2c4058;
}

@media screen and (max-width: 576px) {
  .news .slider2 .slick-list .slick-track .item {
    width: 300px !important;
  }
}

.news .slider2 .slick-list .slick-track .item .img-container {
  width: 370px;
  height: 240px;
}

@media screen and (max-width: 576px) {
  .news .slider2 .slick-list .slick-track .item .img-container {
    width: 300px;
  }
}

.news .slider2 .slick-list .slick-track .item .img-container:hover {
  cursor: pointer;
}

.news .slider2 .slick-list .slick-track .item .img-container:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 370px;
  height: 240px;
  z-index: 1;
  background-image: url("../img/desktop/plus_icon.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.news .slider2 .slick-list .slick-track .item .img-container img {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 576px) {
  .news .slider2 .slick-list .slick-track .item .img-container img {
    width: 300px;
    height: 240px;
  }
}

.news .slider2 .slick-list .slick-track .item .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 275px;
  padding: 20px;
}

.news .slider2 .slick-list .slick-track .item__title {
  font-size: 22px;
  font-family: 'GothamBold', sans-serif;
}

.news .slider2 .slick-list .slick-track .item__text {
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.news .slider2 .slick-list .slick-track .item__authorbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}

.news .slider2 .slick-list .slick-track .item__authorbox .avtr-container {
  margin-right: 20px;
}

.news .slider2 .slick-list .slick-track .item__authorbox .avtr-container img {
  border-radius: 50%;
}

.news .slider2 .slick-list .slick-track .item__authorbox .text__name {
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.news .slider2 .slick-list .slick-track .item__authorbox .text__date {
  color: #55b7ff;
  font-size: 14px;
}

.news .news__title {
  margin-bottom: 110px;
}

.news .news__title::before {
  border: 1px solid #fff;
}

@media screen and (max-width: 1200px) {
  .news .news__title {
    margin-bottom: 60px;
  }
}

.news .news__bg-color {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.1;
}

.news .news__bg-color img {
  width: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 160px calc(50vw - (1170px / 2));
}

@media screen and (max-width: 1200px) {
  .gallery {
    padding: 80px calc(50vw - (1170px / 2));
  }
}

@media screen and (max-width: 1200px) {
  .gallery {
    padding: 60px calc(50vw - (1170px / 2));
  }
}

.gallery .gallery__title {
  color: #2c4058;
}

.gallery .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1170px;
  width: 100%;
  height: 680px;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .gallery .block {
    height: 600px;
  }
}

@media screen and (max-width: 992px) {
  .gallery .block {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.gallery .block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .gallery .block__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 0;
  }
}

@media screen and (max-width: 576px) {
  .gallery .block__container {
    width: 300px;
  }
}

.gallery .block__container .container__bigimg {
  max-width: 580px;
  max-height: 440px;
  position: relative;
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .gallery .block__container .container__bigimg {
    min-width: 480px;
  }
}

@media screen and (max-width: 992px) {
  .gallery .block__container .container__bigimg {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .gallery .block__container .container__bigimg {
    min-width: 300px;
  }
}

.gallery .block__container .container__bigimg img {
  width: 100%;
  height: 100%;
}

.gallery .block__container .container__bigimg:hover {
  cursor: pointer;
}

.gallery .block__container .container__bigimg:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 580px;
  width: 100%;
  height: 440px;
  background-image: url("../img/svg/icon-360-view.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.gallery .block__container .container__smallimgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 580px;
  width: 100%;
}

.gallery .block__container .container__smallimgs .levelimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .gallery .block__container .container__smallimgs .levelimg {
    display: block;
  }
}

.gallery .block__container .container__smallimgs .levelimg:first-child {
  margin-bottom: 10px;
}

.gallery .block__container .container__smallimgs .levelimg .container__smallimg {
  position: relative;
  max-width: 285px;
  max-height: 215px;
}

@media screen and (max-width: 576px) {
  .gallery .block__container .container__smallimgs .levelimg .container__smallimg {
    max-width: 300px;
  }
}

.gallery .block__container .container__smallimgs .levelimg .container__smallimg:first-child {
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .gallery .block__container .container__smallimgs .levelimg .container__smallimg:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.gallery .block__container .container__smallimgs .levelimg .container__smallimg img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .gallery .block__container .container__smallimgs .levelimg .container__smallimg img {
    width: 300px;
    height: 215px;
  }
}

.gallery .block__container .container__smallimgs .levelimg .container__smallimg:hover {
  cursor: pointer;
}

.gallery .block__container .container__smallimgs .levelimg .container__smallimg:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 285px;
  width: 100%;
  height: 215px;
  background-image: url("../img/svg/icon-360-view.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.gallery .block .block__btn {
  color: #2c4058;
  text-transform: uppercase;
}

.gallery .block .block__btn:hover {
  color: #fff;
}

#map {
  width: 100%;
  height: 700px;
  width: 100%;
  height: 700px;
}

@media screen and (max-width: 1200px) {
  #map {
    height: 400px;
  }
}

.footer {
  position: relative;
  background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}

.footer .footbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 525px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.03;
}

.footer .footbg img {
  width: 100%;
  height: 100%;
}

.footer__block {
  position: relative;
  padding: 200px calc(50vw - (780px / 2));
}

@media screen and (max-width: 1200px) {
  .footer__block {
    padding: 90px calc(50vw - (780px / 2));
  }
}

@media screen and (max-width: 576px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__block .block__content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

@media screen and (max-width: 576px) {
  .footer__block .block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__block .block__content .nav__menu_2 {
  width: 160px;
  padding-left: 0;
}

@media screen and (max-width: 576px) {
  .footer__block .block__content .nav__menu_2 {
    padding-top: 15px;
  }
}

.footer__block .footer__textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 420px;
  padding-left: 20px;
  padding-top: 45px;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .footer__block .footer__textblock {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (max-width: 576px) {
  .footer__block .footer__textblock .withlove {
    padding-top: 10px;
  }
}

.footer__block .footer__textblock .withlove::before {
  content: '|';
  font-size: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 576px) {
  .footer__block .footer__textblock .withlove::before {
    display: none;
  }
}

.formblock {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: -300px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 770px;
  width: 100%;
  height: 450px;
  padding: 90px 60px 80px;
  background-color: #fff;
  color: #2c4058;
}

@media screen and (max-width: 1200px) {
  .formblock {
    max-width: 670px;
    width: 100%;
    height: 380px;
    padding: 40px 25px 30px;
  }
}

@media screen and (max-width: 576px) {
  .formblock {
    top: -370px;
    height: 450px;
    padding: 90px 5px 80px;
  }
}

.formblock .formblock__container {
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .formblock .formblock__container {
    padding-top: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.formblock .img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.07;
}

.formblock__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
}

.formblock__container .textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 576px) {
  .formblock__container .textblock {
    width: 300px;
    height: 110px;
    padding-top: 10px;
  }
}

.formblock__container .textblock i {
  margin-right: 5px;
}

.formblock__container .form {
  position: relative;
  width: 310px;
  height: 190px;
  padding-left: 10px;
}

@media screen and (max-width: 576px) {
  .formblock__container .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    padding-left: 0;
    padding-top: 10px;
  }
}

.formblock__container .form .input {
  width: 100%;
  height: 25px;
  border: none;
  font-size: 18px;
  color: #2c4058;
}

.formblock__container .form .input::-webkit-input-placeholder {
  font-size: 18px;
  color: #a5aab0;
}

.formblock__container .form .input:-ms-input-placeholder {
  font-size: 18px;
  color: #a5aab0;
}

.formblock__container .form .input::-ms-input-placeholder {
  font-size: 18px;
  color: #a5aab0;
}

.formblock__container .form .input::placeholder {
  font-size: 18px;
  color: #a5aab0;
}

.formblock__container .form .input:focus {
  outline: none;
}

.formblock__container .form div {
  position: relative;
}

.formblock__container .form div::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  width: 100%;
  border-bottom: 2px solid #d5d9de;
}

@media screen and (max-width: 576px) {
  .formblock__container .form div::after {
    top: -15px;
  }
}

.formblock__container .form .input:focus + div::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #2c4058;
}

.formblock__container .form .form__email {
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
  .formblock__container .form .form__email {
    margin-top: 0;
  }
}

.formblock__container .form .block__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 140px;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .formblock__container .form .block__btn {
    position: relative;
    overflow: hidden;
  }
}

.formblock__container .form .block__btn::after {
  left: 120%;
}

@media screen and (max-width: 576px) {
  .formblock__container .form .block__btn::after {
    top: 0;
    left: -155%;
    z-index: -1;
  }
}

.formblock__container .form .block__btn::before {
  left: -160%;
}

@media screen and (max-width: 576px) {
  .formblock__container .form .block__btn::before {
    top: 0;
    left: 120%;
    z-index: -1;
  }
}

.formblock__container .form .block__btn:hover::before {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: skew(45deg) translateX(-52%);
          transform: skew(45deg) translateX(-52%);
}

.formblock__container .form .block__btn:hover::after {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: skew(45deg) translateX(52%);
          transform: skew(45deg) translateX(52%);
}

.formblock .fas,
.formblock .far {
  color: #8765ff;
}

@media screen and (max-width: 992px) {
  #nav {
    position: absolute;
    top: -50px;
    right: 0;
    width: 50vw;
    height: 104vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(100vw, 0);
            transform: translate(100vw, 0);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: width 475ms ease-out, border-radius .8s .1s ease, -webkit-transform 450ms ease;
    transition: width 475ms ease-out, border-radius .8s .1s ease, -webkit-transform 450ms ease;
    transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
    transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease, -webkit-transform 450ms ease;
    border-bottom-left-radius: 100vw;
    background: rgba(255, 255, 255, 0.75);
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) and (max-width: 576px) {
  #nav {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 992px) {
  #nav .nav__menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    pointer-events: auto;
    padding-top: 50px;
  }
  #nav .nav__menu .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    list-style: none;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translatex(100vw);
            transform: translatex(100vw);
    margin-bottom: 10px;
  }
  #nav .nav__menu .menu__item::after {
    display: none;
  }
  #nav .nav__menu .menu__item:last-child {
    margin-bottom: 2em;
  }
  #nav .nav__menu .menu__item .menu__link {
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    font-size: calc(24px - .5vw);
  }
  #nav .nav__menu .menu__item .menu__link::before {
    display: none;
  }
  #nav .nav__menu .menu__item .menu__link:hover {
    cursor: pointer;
  }
  #nav .nav__menu .menu__item:hover {
    cursor: pointer;
  }
  #nav .nav__menu_2 {
    padding-left: 0;
  }
  #nav .nav__menu_2 .icon-container {
    color: #2c4058;
    border: 1px solid #2c4058;
  }
  input.hamburger:checked ~ #nav {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    border-bottom-left-radius: 0;
  }
  input.hamburger:checked ~ #nav .menu__item {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  input.hamburger:checked ~ label > i {
    background-color: transparent;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  input.hamburger:checked ~ label > i:before {
    background-color: #333;
    -webkit-transform: translate(-50%, -50%) rotate(315deg);
            transform: translate(-50%, -50%) rotate(315deg);
  }
  input.hamburger:checked ~ label > i:after {
    background-color: #333;
    -webkit-transform: translate(-50%, -50%) rotate(-315deg);
            transform: translate(-50%, -50%) rotate(-315deg);
  }
  input.hamburger:checked ~ .menu-label > .close {
    color: #333;
    width: 100%;
  }
  input.hamburger:checked ~ .menu-label > .open {
    color: #ffffff00;
    width: 0;
  }
  .menu-label {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 3;
    width: 50px;
    height: 20px;
  }
}

@media screen and (max-width: 992px) and (max-width: 576px) {
  .menu-label {
    top: 0;
  }
}

@media screen and (max-width: 992px) {
  .menu-label .close,
  .menu-label .open {
    position: absolute;
    width: 50px;
    height: 20px;
    text-transform: uppercase;
    font-size: .8em;
    text-align: center;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    overflow: hidden;
    -webkit-transition: width .25s .35s, color .45s .35s;
    transition: width .25s .35s, color .45s .35s;
  }
  .menu-label .close {
    right: 0;
    width: 0;
    color: #00000000;
  }
  .menu-label .open {
    width: 100%;
    color: #fff;
  }
  label.hamburger {
    display: block;
    position: relative;
    z-index: 4;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 992px) and (max-width: 576px) {
  label.hamburger {
    height: 35px;
  }
}

@media screen and (max-width: 992px) {
  label.hamburger:hover {
    cursor: pointer;
  }
  label.hamburger > i {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    pointer-events: auto;
    -webkit-transition-duration: .35s;
            transition-duration: .35s;
    -webkit-transition-delay: .35s;
            transition-delay: .35s;
  }
  label.hamburger > i:before, label.hamburger > i:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 50%;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  label.hamburger > i:before {
    -webkit-transform: translate(-50%, -14px);
            transform: translate(-50%, -14px);
  }
  label.hamburger > i:after {
    -webkit-transform: translate(-50%, 14px);
            transform: translate(-50%, 14px);
  }
}
/*# sourceMappingURL=main.css.map */