@font-face {
    font-family: 'GothamBook';
    src: url("../fonts/GothamBook.ttf") format("ttf"),
    url("../fonts/GothamBook.woff") format("woff"),
    url("../fonts/GothamBook.eot") format("eot");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'GothamMedium';
    src: url("../fonts/Gotham\ Medium\ Regular.ttf") format("ttf"),
    url("../fonts/gotham-medium-webfont.woff") format("woff"),
    url("../fonts/gotham-medium-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'GothamBold';
    src: url("../fonts/gothambold1.ttf") format("ttf"),
    url("../fonts/gothambold1.woff") format("woff"),
    url("../fonts/gothambold1.eot") format("eot");
    font-style: normal;
    font-weight: 700;
}
