* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x:hidden;
    color: #fff;
    font-family: sans-serif;
}
a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.header {
    position: relative;
    height: 800px;
    background: rgb(85,183,255);
    background: linear-gradient(45deg, rgba(85,183,255,1) 0%, rgba(126,90,255,1) 100%);
    .header__menu {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50px;
        margin-left: -575.5px;
        max-width: 1325px;
        width: 100%;
        padding-right: 150px;
        .logo-container {
            display: flex;
        }
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 845px;
            width: 100%;
            padding-left: 25px;
            &__menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 600px;
                width: 100%;
                .menu__item {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    &::before {
                        content: '';
                        width: 9px;
                        height: 9px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        margin-right: 15px;
                        display: flex;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                .active {
                    &::before {
                        background-color: #fff;
                    }
                }
            }
            &__menu_2 {
                display: flex;
                justify-content: space-between;
                max-width: 165px;
                width: 100%;
                padding-left: 25px;
                .icon_1 {
                    width: 9px;
                    height: 16px;
                }
                .icon_2 {
                    width: 15px;
                    height: 12px;
                }
                .icon_3 {
                    width: 14px;
                    height: 15px;
                }
            }
            .icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border: 1px solid #af9bfc;
                border-radius: 50%;
            }
            
            
        }
    }
    .menu {
        display: flex;
        list-style-type: none;
    }
    .arrow-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 50px;
        margin-left: -20px;
        width: 40px;
        height: 40px;
        border: 1px solid #ccddfb;
        border-radius: 50%;
        img {
            width: 10px;
            height: 11px;
        }
    }
    .slider1 {
        width: 100%;
        height: 800px;
        position: relative;
        .slick-dots {
            height: 206px;
            right: 20px;
            top: 50%;
            margin-top: -103px;
        }
        .slick-track {
            display: flex;
        }
        .slider__item {
            position: relative;
            .header__textblock {
                position: absolute;
                left: 50%;
                margin-left: -425px;
                top: 50%;
                margin-top: -56px;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                max-width: 850px;
                width: 100%;
                .header__title {
                    font-size: 80px;
                }
                .header__text {
                    font-size: 18px;
                }
            }
            img {
                width: 100%;
                height: 800px;
                opacity: 0.1;
            }
        }
        
    }
}
.slick-dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    list-style-type: none;
    .slick-active {
        border-radius: 50%;
        background-color: #fff;
    }
    button {
        display: block;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        background-color: transparent;
        border: 1px solid #fff;
        &:hover {
            cursor: pointer;
        }
    }
    
}
.title {
    font-size: 44px;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        width: 100px;
        border-bottom: 1px solid #2c4058;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: -20px;
    }
}
.block__btn {
    width: 190px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #2c4058;
    &:hover {
        cursor: pointer;
    }
    &:active {
        background: linear-gradient(45deg, rgba(85,183,255,1) 0%, rgba(126,90,255,1) 100%);
    }
}
.projects {
    padding: 0 calc(50vw - (1175px / 2));
    height: 1635px;
    color: #2c4058;
    text-transform: uppercase;
    position: relative;
    .content {
        margin-top: 140px;
        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 470px;
        }
        .content__box_1 {
            flex-direction: row-reverse;
            margin-top: 170px;
            margin-bottom: 210px;
        }
        
        .block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 470px;
            height: 350px;
            &__description {
                font-size: 22px;
            }
            &__title {
                font-size: 44px;
            }
            &__text {
                font-size: 18px;
                text-transform: none;
            }
            a {
                color: #2c4058;
                text-transform: none;
                font-style: italic;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                }
            }
        }
        .img-container {
            max-width: 630px;
            width: 100%;
            height: 470px;
            position: absolute;
        }
        .img-cnt-1 {
            background-color: #55b7ff;
            left: 0;
            top: 150px;
            img {
                position: absolute;
                top: 70px;
                left: calc(50vw - (1175px / 2));
            }
        }
        .img-cnt-2 {
            background-color: #7e5aff;
            right: 0;
            bottom: 334px;
            img {
                position: absolute;
                top: 70px;
                right: calc(50vw - (1175px / 2));
            }
            
        }
    }
}
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1030px;
    background: linear-gradient(45deg, rgba(60,127,212,1) 0%, rgba(36,204,250,1) 100%);
    .slider2 {
        height: 515px;
        max-width: 1170px;
        width: 100%;
        position: relative;
        .slick-slide:not(.slick-active) {
            transition: 0.5s;
            opacity: 0;
        }
        .slick-dots {
            flex-direction: row;
            bottom: -15%;
            left: 50%;
            margin-left: -106px;
            width: 206px;
        }
        .slick-arrow {
            position: absolute;
            z-index: 1;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #fff;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            &:hover {
                cursor: pointer;
            }
        }
        .slick-prev {
            background-image: url('../img/svg/chevron-left-solid.svg');
            left: -100px;
            top: 50%;
            margin-top: -20px;
        }
        .slick-next {
            background-image: url('../img/svg/chevron-right-solid.svg');
            right: -100px;
            top: 50%;
            margin-top: -20px;
        }
        .slick-list {
            height: 515px;
            width: 100%;
            .slick-track {
                height: 515px;
                display: flex !important;
                flex-wrap: wrap;
                justify-content: space-between;
                // align-items: center;
                .item {
                    width: 370px !important;
                    height: 515px;
                    background-color: #fff;
                    color: #2c4058;
                    .img-container {
                        width: 370px;
                        height: 240px;
                        &:hover {
                            &::before {
                                content: "";
                                width: 370px;
                                height: 240px;
                                position: absolute;
                                display: block;
                                z-index: 1;
                                background-image: url('../img/desktop/plus_icon.png');
                                background-repeat: no-repeat;
                                background-position-x: center;
                                background-position-y: center;
                            }
                            cursor: pointer;
                        }
                        img {
                            width: 100%;
                            position: relative;
                        }
                    }
                    .text-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 275px;
                        padding: 20px;
                    }
                    &__title {
                        font-size: 22px;
                        text-transform: uppercase;
                    }
                    &__text {
                        font-size: 18px;
                    }
                    &__authorbox {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 60px;
                        .avtr-container {
                            margin-right: 20px;
                            img {
                                border-radius: 50%;
                            }
                        }
                        .text__name {
                            font-size: 18px;
                            text-transform: uppercase;
                            padding-bottom: 5px;
                        }
                        .text__date {
                            color: #55b7ff;
                            font-size: 14px;
                        }
                    }
                }
            }   
        }
    }
    .news__title {
        margin-bottom: 110px;
        text-transform: uppercase;
        &::before {
            border: 1px solid #fff;
        }
    }
    .news__bg-color  {
        opacity: 0.1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        img {
            width: 100%;
        }
    }
    
}
.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    .gallery__title {
        color: #2c4058;
    }
    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 680px;
        max-width: 1170px;
        width: 100%;
        &__container {
            display: flex;
            justify-content: space-between;
            height: 440px;
            max-width: 1170px;
            width: 100%;
            .container__bigimg {
                width: 580px;
                height: 440px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .container__smallimgs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 580px;
                .levelimg {
                    display: flex;
                    justify-content: space-between;
                    .container__smallimg {
                        width: 285px;
                        height: 215px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .block__btn {
            color: #2c4058;
            text-transform: uppercase;
        }
    }
}