@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "_fonts";
@import "_reset";
@import "_mixins";
@import "_vars";

body {
    color: #fff;
    font-family: 'GothamBook', sans-serif;
}
a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
#arrowTop {
    z-index: 100;
    position: fixed;
    cursor: pointer;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    background-color: #252022;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 576px) {
        bottom: 25px;
        right: 25px;
    }
}

#arrowTop::before {
  content: '';
  width: 50px;
  height: 25px;
  background: url('../img/svg/chevron-down-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateX(180deg)
}
.header {
    position: relative;
    height: 100vh;
    background: linear-gradient(45deg, rgba(85,183,255,1) 0%, rgba(126,90,255,1) 100%);
    @media screen and (max-width: 576px) {
        height: 70vh;
    }
    .header__menu {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50px;
        margin-left: calc(-1325px / 2);
        max-width: 1325px;
        width: 100%;
        padding: 0 25px;
        input.hamburger {
            display: none;
        }
        label.hamburger {
            display: none;
            @media screen and (max-width: 992px) {
                display: flex;
                position: absolute;
                top: 7px;
                right: 25px;
            }
            @media screen and (max-width: 576px) {
                top: 0;
            }
        }
        .menu-label {
            display: none;
            @media screen and (max-width: 992px) {
                display: flex;
            }
        }
        .logo-container {
            display: flex;
            img {
                @media screen and (max-width: 576px) {
                    width: 180px;
                }
            }
        }
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 845px;
            width: 100%;
            padding-left: 25px;
            &__menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 600px;
                width: 100%;
                .menu__item {
                    position: relative;
                    &::after {
                        content: '';
                        border-bottom: 2px solid #fff;
                        width: 100%;
                        display: block;
                        opacity: 0;
                        position: absolute;
                        top: -15px;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                            transition: 0.5s;
                            transform: translateY(40px);
                        }
                    }
                    .menu__link {
                        cursor: pointer;
                        align-items: center;
                        &::before {
                            content: '';
                            width: 9px;
                            height: 9px;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            margin-right: 15px;
                            display: flex;
                        }
                    }
                    .active {
                        &::before {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    .arrow-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 50px;
        margin-left: -20px;
        width: 40px;
        height: 40px;
        border: 1px solid #ccddfb;
        border-radius: 50%;
        &:hover {
            transition: 0.3s;
            transform: translateY(-10px);
        }
        img {
            width: 10px;
            height: 11px;
        }
    }
    .slider1 {
        width: 100%;
        height: 800px;
        position: relative;
        .slick-dots {
            height: 206px;
            right: 20px;
            top: 50%;
            margin-top: -103px;
        }
        .slick-track {
            display: flex;
        }
        .slider__item {
            position: relative;
            .header__textblock {
                position: absolute;
                left: 50%;
                margin-left: -425px;
                top: 50%;
                margin-top: -56px;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                max-width: 1000px;
                width: 100%;
                padding: 0 5px;
                @media screen and (max-width: 576px) {
                    padding-top: 20px;
                }
                .header__title {
                    font-family: 'GothamBold', sans-serif;
                    letter-spacing: 4px;
                    font-size: calc(20px + (80 - 20) * ((100vw - 320px) / (1800 - 320)));
                }
                .header__text {
                    padding-top: 25px;
                    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1800 - 320)));
                    letter-spacing: 5.4px;
                    text-align: center;
                }
            }
            img {
                width: 100%;
                height: 100vh;
                opacity: 0.1;
                @media screen and (max-width: 576px) {
                    height: 70vh;
                }
            }
        }
        
    }
}

.nav__menu_2 {
    display: flex;
    justify-content: space-between;
    max-width: 165px;
    width: 100%;
    padding-left: 25px;
    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: 0.7s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}
.menu {
    display: flex;
    list-style-type: none;
}
.slick-dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    list-style-type: none;
    .slick-active {
        border-radius: 50%;
        background-color: #fff;
    }
    button {
        display: block;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        background-color: transparent;
        border: 1px solid #fff;
        &:hover {
            cursor: pointer;
        }
    }
}
.title {
    font-size: 44px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-family: 'GothamBold', sans-serif;
    @media screen and (max-width: 576px) {
        font-size: 40px;
    }
    &::before {
        content: "";
        width: 100px;
        border-bottom: 1px solid #2c4058;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: -20px;
    }
}
.block__btn {
    width: 190px;
    height: 50px;
    position: relative;
    background-color: transparent;
    border: 1px solid #2c4058;
    overflow: hidden;
    font-family: 'GothamBook', sans-serif;
    font-weight: 600;
    @media screen and (max-width: 576px) {
        margin: 0 auto;
    }
    &::after, &::before {
        z-index: -1;
        transition: all 1s ease;
        top: -1px;
        background: #2c4058 ;
        position: absolute;
        width: 190px;
        height: 50px;
        -webkit-transform: skew(45deg);    
        transform: skew(45deg);
        display: block;
        content: '';
    }
    &::after {
        left: -120%;
    }
    &::before {
        right: -120%;
    }
    &:hover {
        &::after {
            transform: skewX(45deg) translateX(69%);
            transition: all 1s ease-out;
        }
        &::before {
            transform: skewX(45deg) translateX(-69%);
            transition: all 1s ease-out;
        }
        transition: 1.5s;
        color: #fff;
        cursor: pointer;
    }
}
.projects {
    padding: 140px calc(50vw - (1170px / 2));
    color: #2c4058;
    text-transform: uppercase;
    position: relative;
    @media screen and (max-width: 1200px) {
        padding: 80px calc(50vw - (1170px / 2));
    }
    @media screen and (max-width: 1200px) {
        padding: 60px calc(50vw - (1170px / 2));
    }
    @media screen and (max-width: 576px) {
        padding: 60px calc(50vw - (1170px / 2));
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content {
        @media screen and (max-width: 576px) {
            padding: 0 10px;
        }
        &__title {
            @media screen and (max-width: 576px) {
                padding-bottom: 20px;
            }
        }
        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 470px;
            padding: 0 40px;
            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
            }
            @media screen and (max-width: 576px) {
                padding: 0 10px;
            }
            @media screen and (max-width: 576px) {
                height: fit-content;
            }
        }
        .content__box_1 {
            flex-direction: row-reverse;
            margin-top: 170px;
            margin-bottom: 210px;
            @media screen and (max-width: 1200px) {
                margin: 70px 0;
            }
            @media screen and (max-width: 992px) {
                margin: 20px 0;
            }
            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
                margin-top: 170px;
            }
            @media screen and (max-width: 576px) {
                margin: 0;
                padding: 0;
            }
            
        }
        .content__box_2 {
            @media screen and (max-width: 768px) {
                margin-top: 170px;
            }
            @media screen and (max-width: 576px) {
                margin-top: 270px;
            }
            @media screen and (max-width: 576px) {
                margin: 0;
                padding: 0;
            }
        }
        .content__block_1 {
            @media screen and (max-width: 1200px) {
                padding-left: 55px;
            }
            @media screen and (max-width: 992px) {
                padding-left: 25px;
            }
            
        }
        .content__block_2 {
            @media screen and (max-width: 1200px) {
                padding-right: 55px;
            }
            @media screen and (max-width: 992px) {
                padding-right: 25px;
            }
            @media screen and (max-width: 768px) {
                padding-right: 0;
            }
        }
        .block {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 470px;
            height: 350px;
            @media screen and (max-width: 992px) {
                height: 400px;
            }
            @media screen and (max-width: 768px) {
                padding-left: 0;
                width: 500px;
            }
            @media screen and (max-width: 768px) {
                padding-top: 15px;
                width: 500px;
            }
            @media screen and (max-width: 576px) {
                width: 100%;
                padding: 20px 0;
                height: fit-content;
            }
            &__description {
                font-size: 22px;
            }
            &__title {
                font-size: 44px;
                font-family: 'GothamBold', sans-serif;
            }
            &__text {
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 18px;
                text-transform: none;
                line-height: 1.5;
            }
            a {
                color: #2c4058;
                text-transform: none;
                font-style: italic;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                }
            }
            &__btn {
                margin-top: 35px;
                margin-bottom: 60px;
                @media screen and (max-width: 1200px) {
                    margin-bottom: 30px;
                }
                @media screen and (max-width: 992px) {
                    margin: 10px 0;
                }
            }
        }
        .img-container {
            max-width: 630px;
            width: 100%;
            height: 470px;
            position: absolute;
            @media screen and (max-width: 1200px) {
                max-width: 500px;
                height: 350px;
                position:static;
            }
            @media screen and (max-width: 576px) {
                max-width: 600px;
            }
            img {
                position: absolute;
                @media screen and (max-width: 1200px) {
                    width: 100%;
                    height: 350px;
                    position:static;
                    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
                }
            }
        }
        .img-cnt-1 {
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            background-color: #55b7ff;
            left: 0;
            top: 290px;
            @media screen and (max-width: 1200px) {
                margin-bottom: 150px;
            }
            @media screen and (max-width: 992px) {
                margin-bottom: 0;
            }
        }
        .img-cnt-2 {
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            background-color: #7e5aff;
            right: 0;
            bottom: 210px;
            @media screen and (max-width: 1200px) {
                margin-bottom: 180px;
            }
            @media screen and (max-width: 992px) {
                margin-bottom: 0;
            }
        }
    }
}
.news {
    padding: 160px calc(50vw - (1170px / 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(45deg, rgba(60,127,212,1) 0%, rgba(36,204,250,1) 100%);
    @media screen and (max-width: 1200px) {
        padding: 80px calc(50vw - (1170px / 2));
    }
    @media screen and (max-width: 1200px) {
        padding: 60px calc(50vw - (1170px / 2));
    }
    .slider2 {
        height: 515px;
        max-width: 1170px;
        width: 100%;
        position: relative;
        .slick-dots {
            flex-direction: row;
            bottom: -2.5rem;
            left: 50%;
            margin-left: -106px;
            width: 206px;
            @media screen and (max-width: 1200px) {
                bottom: -7%;
            }
        }
        .slick-arrow {
            position: absolute;
            z-index: 1;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #fff;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            &:hover {
                cursor: pointer;
            }
        }
        .slick-prev {
            background-image: url('../img/svg/chevron-left-solid.svg');
            left: -100px;
            top: 50%;
            margin-top: -20px;
        }
        .slick-next {
            background-image: url('../img/svg/chevron-right-solid.svg');
            right: -100px;
            top: 50%;
            margin-top: -20px;
        }
        .slick-list {
            height: 515px;
            width: 100%;
            overflow: hidden;
            .slick-track {
                height: 515px;
                display: flex !important;
                flex-wrap: wrap;
                justify-content: space-around;
                .item {
                    width: 370px !important;
                    height: 515px;
                    background-color: #fff;
                    color: #2c4058;
                    @media screen and (max-width: 576px) {
                        width: 300px !important;
                    }
                    .img-container {
                        width: 370px;
                        height: 240px;
                        @media screen and (max-width: 576px) {
                            width: 300px;
                        }
                        &:hover {
                            &::before {
                                content: "";
                                width: 370px;
                                height: 240px;
                                position: absolute;
                                display: block;
                                z-index: 1;
                                background-image: url('../img/desktop/plus_icon.png');
                                background-repeat: no-repeat;
                                background-position-x: center;
                                background-position-y: center;
                            }
                            cursor: pointer;
                        }
                        img {
                            width: 100%;
                            position: relative;
                            @media screen and (max-width: 576px) {
                                width: 300px;
                                height: 240px;
                            }
                        }
                    }
                    .text-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 275px;
                        padding: 20px;
                    }
                    &__title {
                        font-size: 22px;
                        font-family: 'GothamBold', sans-serif;
                    }
                    &__text {
                        line-height: 1.5;
                        font-size: 18px;
                        font-family: 'Open Sans', sans-serif;
                    }
                    &__authorbox {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 60px;
                        .avtr-container {
                            margin-right: 20px;
                            img {
                                border-radius: 50%;
                            }
                        }
                        .text__name {
                            font-size: 18px;
                            text-transform: uppercase;
                            padding-bottom: 5px;
                        }
                        .text__date {
                            color: #55b7ff;
                            font-size: 14px;
                        }
                    }
                }
            }   
        }
    }
    .news__title {
        margin-bottom: 110px;
        &::before {
            border: 1px solid #fff;
        }
        @media screen and (max-width: 1200px) {
            margin-bottom: 60px;
        }
    }
    .news__bg-color  {
        opacity: 0.1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        img {
            width: 100%;
        }
    }
    
}
.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 160px calc(50vw - (1170px / 2));
    @media screen and (max-width: 1200px) {
        padding: 80px calc(50vw - (1170px / 2));
    }
    @media screen and (max-width: 1200px) {
        padding: 60px calc(50vw - (1170px / 2));
    }
    .gallery__title {
        color: #2c4058;
    }
    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 680px;
        max-width: 1170px;
        width: 100%;
        padding: 0 10px;
        @media screen and (max-width: 1200px) {
            height: 600px;
        }
        @media screen and (max-width: 992px) {
            height: fit-content;
        }
        &__container {
            display: flex;
            justify-content: space-between;
            max-width: 1170px;
            width: 100%;
            @media screen and (max-width: 992px) {
                flex-direction: column;
                height: fit-content;
                padding: 30px 0;
                align-items: center;
            }
            @media screen and (max-width: 576px) {
                width: 300px;
            }
            .container__bigimg {
                max-width: 580px;
                max-height: 440px;
                position: relative;
                margin-right: 10px;
                @media screen and (max-width: 1200px) {
                    min-width: 480px;
                }
                @media screen and (max-width: 992px) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
                @media screen and (max-width: 576px) {
                    min-width: 300px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    cursor: pointer;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-image: url('../img/svg/icon-360-view.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        max-width: 580px;
                        width: 100%;
                        height: 440px;
                        display: block;
                    }
                }
            }
            .container__smallimgs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 580px;
                width: 100%;
                .levelimg {
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 576px) {
                        display: block;
                    }
                    &:first-child {
                        margin-bottom: 10px;
                    }
                    .container__smallimg {
                        max-width: 285px;
                        max-height: 215px;
                        position: relative;
                        @media screen and (max-width: 576px) {
                            max-width: 300px;
                        }
                        &:first-child {
                            margin-right: 10px;
                            @media screen and (max-width: 576px) {
                                margin-right: 0;
                                margin-bottom: 10px;
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            @media screen and (max-width: 576px) {
                                height: 215px;
                                width: 300px;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-image: url('../img/svg/icon-360-view.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                                max-width: 285px;
                                height: 215px;
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .block__btn {
            color: #2c4058;
            text-transform: uppercase;
            &:hover {
                color: #fff;
            }
        }
    }
}
#map {
    width: 100%;
    height: 700px;
    @media screen and (max-width: 1200px) {
        height: 400px;
    }
}
.footer {
    background: linear-gradient(45deg, rgba(85,183,255,1) 0%, rgba(126,90,255,1) 100%);
    position: relative;
    .footbg {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 525px;
        width: 100%;
        object-fit: cover;
        opacity: 0.03;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.footer__block {
    padding: 200px calc(50vw - (780px / 2));
    position: relative;
    @media screen and (max-width: 1200px) {
        padding: 90px calc(50vw - (780px / 2));
    }
    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        padding: 0 20px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }
        .nav__menu_2 {
            padding-left: 0;
            width: 160px;
            @media screen and (max-width: 576px) {
                padding-top: 15px;
            }
        }
    }
    .footer__textblock {
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 420px;
        padding-top: 45px;
        font-size: 14px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            width: fit-content;
            justify-content: center;
        }
        .withlove {
            @media screen and (max-width:576px) {
                padding-top: 10px;
            }
            &::before {
                content: '|';
                font-size: 20px;
                margin-right: 20px;
                @media screen and (max-width: 576px) {
                    display: none;
                }
            }
        }
    }
    
}
.formblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 60px 80px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -385px;
    top: -300px;
    background-color: #fff;
    max-width: 770px;
    width: 100%;
    height: 450px;
    color: #2c4058;
    @media screen and (max-width: 1200px) {
        padding: 40px 25px 30px;
        max-width: 670px;
        width: 100%;
        height: 380px;
    }
    @media screen and (max-width: 576px) {
        height: 450px;
        top: -370px;
        padding: 90px 5px 80px;
    }
    .formblock__container {
        z-index: 1;
        @media screen and (max-width: 576px) {
            padding-top: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
    .img-container {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.07;
        z-index: -1;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 55px;
        .textblock {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: 576px) {
                padding-top: 10px;
                height: 110px;
                width: 300px;
            }
            i {
                margin-right: 5px;
            }
        }
        .form {
            width: 310px;
            height: 190px;
            position: relative;
            padding-left: 10px;
            @media screen and (max-width: 576px) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 0;
                padding-top: 10px;
                width: 300px;
            }
            .input {
                border: none;
                font-size: 18px;
                position: relative;
                color: #2c4058;
                &::placeholder {
                    font-size: 18px;
                    color: #a5aab0;
                }
                &:focus {
                    outline: none;
                }
                
                width: 100%;
                height: 25px;
            }
            div {
                position: relative;
                &::after {
                    position: absolute;
                    top: 6px;
                    content: '';
                    width: 100%;
                    height: 2px;
                    border-bottom: 2px solid #d5d9de;
                    display: block;
                    @media screen and (max-width: 576px) {
                        height: 0;
                        top: -15px;
                    }
                }
            }
            .input:focus + div::after {
                position: absolute;
                content: '';
                width: 100%;
                border-bottom: 2px solid #2c4058;
                display: block;
            }
            .form__email {
                margin-top: 20px;
                @media screen and (max-width: 576px) {
                    margin-top: 0;
                }
            }
            .block__btn {
                position: absolute;
                width: 140px;
                text-transform: uppercase;
                right: 0;
                bottom: 0;
                @media screen and (max-width: 576px) {
                    position: relative;
                    overflow: hidden;
                }
                &::after {
                    left: 120%;
                    @media screen and (max-width: 576px) {
                        left: -155%;
                        top: 0;
                        z-index: -1;                   
                    }
                }
                &::before {
                    left: -160%;
                    @media screen and (max-width: 576px) {
                        left: 120%;
                        top: 0;           
                        z-index: -1;        
                    }
                }
                &:hover {
                    &::before {
                        transition: 1s;
                        transform: skew(45deg) translateX(-52%);
                    }
                    &::after {
                        transition: 1s;
                        transform: skew(45deg) translateX(52%);
                    }
                }
            }
        }
    }
    .fas, 
    .far {
        color: #8765ff;
    }
}
@media screen and (max-width: 992px) {
    #nav {
        position: absolute;
        top: -50px;
        right: 0;
        height: auto;
        @include width-height(50vw,100vh);
        transform: translate(100vw, 0);
        -ms-transform: translatex(-100vw);
        box-sizing: border-box;
        transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
        border-bottom-left-radius: 100vw;
        background: rgba(255, 255, 255, 0.75);
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        @media screen and (max-width: 576px) {
            @include width-height(100vw,100vh);
        }
        .nav__menu {
            flex-direction: column;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            pointer-events: auto;
            justify-content: end;
            height: auto;
            padding-top: 50px;
            .menu__item {
                list-style: none;
                text-transform: uppercase;
                pointer-events: auto;
                white-space: nowrap;
                box-sizing: border-box;
                transform: translatex(100vw);
                -ms-transform: translatex(-100vw);
                width: 100%;
                height: 50px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items:center;
                &::after {
                    display: none;
                }
                &:last-child {
                    margin-bottom: 2em;
                }
                .menu__link {
                    text-decoration: none;
                    color: #333;
                    text-align: center;
                    display: block;
                    font-size: calc(24px - .5vw);
                    &::before {
                        display: none;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .nav__menu_2 {
            padding-left: 0;
            .icon-container {
                color: #2c4058;
                border: 1px solid #2c4058;
            }
        }
    }
    input.hamburger {
        &:checked {
            & ~ #nav {
                z-index: 3;
                transform: translatex(0);
                border-bottom-left-radius: 0;
                .menu__item {
                    transform: translatex(0);
                }
            }
            & ~ label {
                > i {
                    background-color: transparent;
                    transform: rotate(90deg);
                    &:before {
                        background-color: #333;
                        transform: translate(-50%, -50%) rotate(315deg);
                    }
                    &:after {
                        background-color: #333;
                        transform: translate(-50%, -50%) rotate(-315deg);
                    }
                }
            }
            & ~ .menu-label>.close {
                color: #333;
                width: 100%;
            }
            & ~ .menu-label>.open {
                color: #ffffff00;
                width: 0;
            }
        }
    }
    .menu-label {
        position: absolute;
        right: 25px;
        top: 10px;
        width: 50px;
        height: 20px;
        z-index: 3;
        @media screen and (max-width: 576px) {
            top: 0;
        }
        .close,
        .open {
            width: 50px;
            height: 20px;
            text-transform: uppercase;
            font-size: .8em;
            text-align: center;
            position: absolute;
            transform: translateY(50px);
            text-align: center;
            overflow: hidden;
            transition: width .25s .35s, color .45s .35s;
        }
        .close {
            color: #00000000;
            right: 0;
            width: 0;
        }
        .open {
            color: $text;
            width: 100%;
        }
    }
    label.hamburger {
        z-index: 9999;
        position: relative;
        display: block;
        @include width-height(50px, 50px);
        @media screen and (max-width: 576px) {
            height: 35px;
        }
        &:hover {
          cursor: pointer;
        }
        > i {
            position: absolute;
            @include width-height(100%, 2px);
            top: 50%;
            background-color: $text;
            pointer-events: auto;
            transition-duration: .35s;
            transition-delay: .35s;
            &:before,
            &:after {
                position: absolute;
                display: block;
                @include width-height(100%, 2px);
                left: 50%;
                background-color: $text;
                content: "";
                transition: transform 0.35s;
                transform-origin: 50% 50%;
            }
            &:before {
                transform: translate(-50%, -14px);
            }
            &:after {
                transform: translate(-50%, 14px);
            }
        }
    }
}
