@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "_fonts";
@import "_reset";
@import "_mixins";
@import "_vars";

body {
    color: #fff;
    font-family: 'GothamBook', sans-serif;
}
a {
    @include displaySet(flex);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
#arrowTop {
    @include position(fixed, $bottom: 50px, $right: 50px, $z_index: 4);
    @include displaySet(none, center, center);
    @include width-height(50px, 50px);
    cursor: pointer;
    background-color: #252022;
    border-radius: 50%;
    @media screen and (max-width: 576px) {
        @include position($bottom: 25px, $right: 25px);
    }
}

#arrowTop::before {
    @include width-height(50px, 25px);
    content: '';
    background: url('../img/svg/chevron-down-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateX(180deg)
}
.header {
    @include position(relative);
    @include width-height($height: 100vh);
    background: linear-gradient(45deg, rgba(85,183,255,1) 0%, rgba(126,90,255,1) 100%);
    @media screen and (max-width: 576px) {
        @include width-height($height: 70vh);
    }
    .header__menu {
        @include сentering-xy();
        @include position($top: 50px, $z_index: 1);
        @include displaySet(flex, space-between);
        @include width-height(100%, $max-width: 1325px);
        padding: 0 25px;
        input.hamburger {
            @include displaySet(none);
        }
        label.hamburger {
            @include displaySet(none);
            @media screen and (max-width: 992px) {
                @include displaySet(flex);
                @include position(absolute, $top: 0, $right: 25px);
            }
        }
        .menu-label {
            @include displaySet(none);
            @media screen and (max-width: 992px) {
                @include position($top: 0);
                @include displaySet(flex);
            }
        }
        .logo-container {
            @include displaySet(flex);
            img {
                @media screen and (max-width: 576px) {
                    @include width-height(180px);
                }
            }
        }
        .nav {
            @include displaySet(flex, space-between, center);
            @include width-height(100%, $max-width: 845px);
            padding-left: 25px;
            &__menu {
                @include displaySet(flex, space-between, center);
                @include width-height(100%, $max-width: 600px);
                .menu__item {
                    @include position(relative);
                    &::after {
                        @include pseudo();
                        @include position($top: -15px);
                        @include width-height(100%);
                        border-bottom: 2px solid #fff;
                        opacity: 0;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                            transition: 0.5s;
                            transform: translateY(40px);
                        }
                    }
                    .menu__link {
                        @include displaySet($align-items: center);
                        cursor: pointer;
                        &::before {
                            @include displaySet(flex);
                            @include width-height(9px, 9px);
                            content: '';
                            border: 1px solid #fff;
                            border-radius: 50%;
                            margin-right: 15px;
                        }
                    }
                    .active {
                        &::before {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    .arrow-icon {
        @include position(absolute, $left: 50%, $bottom: 50px, $z_index: 1);
        @include displaySet(flex, center, center);
        @include width-height(40px, 40px);
        margin-left: -20px;
        border: 1px solid #ccddfb;
        border-radius: 50%;
        &:hover {
            transition: 0.3s;
            transform: translateY(-10px);
        }
        img {
            @include width-height(10px, 11px);
        }
    }
    .slider1 {
        @include width-height(100%, 800px);
        @include position(relative);
        .slick-dots {
            @include width-height($height: 206px);
            @include position($top: 50%, $right: 20px);
            margin-top: -103px;
        }
        .slick-track {
            @include displaySet(flex);
        }
        .slider__item {
            @include position(relative);
            .header__textblock {
                @include сentering-xy();
                @include position($z_index: 1);
                @include displaySet(flex, center, center, column);
                @include width-height(100%, $max-width: 1000px);
                margin-top: -56px;
                text-transform: uppercase;
                padding: 0 5px;
                @media screen and (max-width: 576px) {
                    padding-top: 20px;
                }
                .header__title {
                    font-family: 'GothamBold', sans-serif;
                    letter-spacing: 4px;
                    font-size: calc(20px + (80 - 20) * ((100vw - 320px) / (1800 - 320)));
                }
                .header__text {
                    padding-top: 25px;
                    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1800 - 320)));
                    letter-spacing: 5.4px;
                    text-align: center;
                }
            }
            img {
                @include width-height(100%, 100vh);
                opacity: 0.1;
                @media screen and (max-width: 576px) {
                    @include width-height($height: 100vh);
                }
            }
        }
        
    }
}

.nav__menu_2 {
    @include displaySet(flex, space-between);
    @include width-height(100%, $max-width: 165px);
    padding-left: 25px;
    .icon-container {
        @include displaySet(flex, center, center);
        @include width-height(40px, 40px);
        border: 1px solid #fff;
        border-radius: 50%;
        transition: 0.7s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}
.menu {
    @include displaySet(flex);
    list-style-type: none;
}
.slick-dots {
    @include displaySet(flex, space-between, $flex-direction: column);
    @include position(absolute);
    list-style-type: none;
    .slick-active {
        border-radius: 50%;
        background-color: #fff;
    }
    button {
        @include displaySet(block);
        border-radius: 50%;
        @include width-height(9px, 9px);
        background-color: transparent;
        border: 1px solid #fff;
        &:hover {
            cursor: pointer;
        }
    }
}
.title {
    @include position(relative);
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'GothamBold', sans-serif;
    @media screen and (max-width: 576px) {
        font-size: 40px;
    }
    &::before {
        @include pseudo();
        @include position($left: 50%, $top: -20px);
        @include width-height(100px);
        border-bottom: 1px solid #2c4058;
        margin-left: -50px;
    }
}
.block__btn {
    @include position(relative);
    @include width-height(190px, 50px);
    background-color: transparent;
    border: 1px solid #2c4058;
    overflow: hidden;
    font-family: 'GothamBook', sans-serif;
    font-weight: 600;
    @media screen and (max-width: 576px) {
        margin: 0 auto;
    }
    &::after, &::before {
        @include pseudo();
        @include position($z_index: -1, $top: -1px);
        @include width-height(190px, 50px);
        transition: all 1s ease;
        background: #2c4058 ;
        -webkit-transform: skew(45deg);    
        transform: skew(45deg);
    }
    &::after {
        @include position($left: -120%);
    }
    &::before {
        @include position($right: -120%);
    }
    &:hover {
        &::after {
            transform: skewX(45deg) translateX(69%);
            transition: all 1s ease-out;
        }
        &::before {
            transform: skewX(45deg) translateX(-69%);
            transition: all 1s ease-out;
        }
        transition: 1.5s;
        color: #fff;
        cursor: pointer;
    }
}
.projects {
    @include position(relative);
    padding: 140px calc(50vw - (1170px / 2));
    color: #2c4058;
    text-transform: uppercase;
    @media screen and (max-width: 1200px) {
        padding: 80px calc(50vw - (1170px / 2));
    }
    @media screen and (max-width: 1200px) {
        padding: 60px calc(50vw - (1170px / 2));
    }
    @media screen and (max-width: 576px) {
        @include displaySet(flex, space-between, $flex-direction: column);
        padding: 60px calc(50vw - (1170px / 2));
        padding-bottom: 20px;
    }
    .content {
        @media screen and (max-width: 576px) {
            padding: 0 10px;
        }
        &__title {
            @media screen and (max-width: 576px) {
                padding-bottom: 20px;
            }
        }
        .box {
            @include displaySet(flex, space-between, center);
            @include width-height($height: 470px);
            padding: 0 40px;
            @media screen and (max-width: 768px) {
                @include displaySet($flex-direction: column-reverse);
            }
            @media screen and (max-width: 576px) {
                padding: 0 10px;
            }
            @media screen and (max-width: 576px) {
                @include width-height($height: fit-content);
            }
        }
        .content__box_1 {
            @include displaySet($flex-direction: row-reverse);
            margin-top: 170px;
            margin-bottom: 210px;
            @media screen and (max-width: 1200px) {
                margin: 70px 0;
            }
            @media screen and (max-width: 992px) {
                margin: 20px 0;
            }
            @media screen and (max-width: 768px) {
                @include displaySet($flex-direction: column-reverse);
                margin-top: 170px;
            }
            @media screen and (max-width: 576px) {
                margin: 0;
                padding: 0;
            }
            
        }
        .content__box_2 {
            @media screen and (max-width: 768px) {
                margin-top: 170px;
            }
            @media screen and (max-width: 576px) {
                margin-top: 270px;
            }
            @media screen and (max-width: 576px) {
                margin: 0;
                padding: 0;
            }
        }
        .content__block_1 {
            @media screen and (max-width: 1200px) {
                padding-left: 55px;
            }
            @media screen and (max-width: 992px) {
                padding-left: 25px;
            }
            
        }
        .content__block_2 {
            @media screen and (max-width: 1200px) {
                padding-right: 55px;
            }
            @media screen and (max-width: 992px) {
                padding-right: 25px;
            }
            @media screen and (max-width: 768px) {
                padding-right: 0;
            }
        }
        .block {
            @include displaySet(flex, space-evenly, $flex-direction: column);
            @include width-height(470px, 350px);
            @media screen and (max-width: 992px) {
                @include width-height($height: 400px);
            }
            @media screen and (max-width: 768px) {
                @include width-height(500px);
                padding-top: 15px;
                padding-left: 0;
            }
            @media screen and (max-width: 576px) {
                @include width-height(100%, fit-content);
                padding: 20px 0;
            }
            &__description {
                font-size: 22px;
            }
            &__title {
                font-size: 44px;
                font-family: 'GothamBold', sans-serif;
            }
            &__text {
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 18px;
                text-transform: none;
                line-height: 1.5;
            }
            a {
                color: #2c4058;
                text-transform: none;
                font-style: italic;
                div {
                    @include displaySet(flex, center, center);
                    margin-right: 10px;
                }
            }
            &__btn {
                margin-top: 35px;
                margin-bottom: 60px;
                @media screen and (max-width: 1200px) {
                    margin-bottom: 30px;
                }
                @media screen and (max-width: 992px) {
                    margin: 10px 0;
                }
            }
        }
        .img-container {
            @include position(absolute);
            @include width-height(100%, 470px, 630px);
            @media screen and (max-width: 1200px) {
                @include position(static);
                @include width-height($height: 350px, $max-width: 500px);
            }
            @media screen and (max-width: 576px) {
                @include width-height($max-width: 600px);
            }
            img {
                @include position(absolute);
                @media screen and (max-width: 1200px) {
                    @include position(static);
                    @include width-height(100%, 350px);
                    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
                }
            }
        }
        .img-cnt-1 {
            @include position($left: 0, $top: 290px);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            background-color: #55b7ff;
            @media screen and (max-width: 1200px) {
                margin-bottom: 150px;
            }
            @media screen and (max-width: 992px) {
                margin-bottom: 0;
            }
        }
        .img-cnt-2 {
            @include position($right: 0, $bottom: 210px);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            background-color: #7e5aff;
            @media screen and (max-width: 1200px) {
                margin-bottom: 180px;
            }
            @media screen and (max-width: 992px) {
                margin-bottom: 0;
            }
        }
    }
}
.news {
    @include displaySet(flex, center, center, column);
    padding: 160px calc(50vw - (1170px / 2));
    background: linear-gradient(45deg, rgba(60,127,212,1) 0%, rgba(36,204,250,1) 100%);
    @media screen and (max-width: 1200px) {
        padding: 80px calc(50vw - (1170px / 2));
    }
    @media screen and (max-width: 1200px) {
        padding: 60px calc(50vw - (1170px / 2));
    }
    .slider2 {
        @include position(relative);
        @include width-height(100%, 515px, 1170px);
        .slick-dots {
            @include position($left: 50%, $bottom: -2.5rem);
            @include displaySet($flex-direction: row);
            @include width-height(206px);
            margin-left: -106px;
            @media screen and (max-width: 1200px) {
                @include position($bottom: -7%);
            }
        }
        .slick-arrow {
            @include position(absolute, $z_index: 1);
            @include width-height(40px, 40px);
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #fff;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            &:hover {
                cursor: pointer;
            }
        }
        .slick-prev {
            @include position($left: -100px, $top: 50%);
            background-image: url('../img/svg/chevron-left-solid.svg');
            margin-top: -20px;
        }
        .slick-next {
            @include position($right: -100px, $top: 50%);
            background-image: url('../img/svg/chevron-right-solid.svg');
            margin-top: -20px;
        }
        .slick-list {
            @include width-height(100%, 515px);
            overflow: hidden;
            .slick-track {
                @include displaySet(flex !important, space-between);
                @include width-height($height: 515px);
                .item {
                    @include width-height(370px !important, 515px);
                    background-color: #fff;
                    color: #2c4058;
                    @media screen and (max-width: 576px) {
                        @include width-height(300px !important);
                    }
                    .img-container {
                        @include width-height(370px, 240px);
                        @media screen and (max-width: 576px) {
                            @include width-height(300px);
                        }
                        &:hover {
                            &::before {
                                @include pseudo();
                                @include width-height(370px, 240px);
                                @include position($z_index: 1);
                                background-image: url('../img/desktop/plus_icon.png');
                                background-repeat: no-repeat;
                                background-position-x: center;
                                background-position-y: center;
                            }
                            cursor: pointer;
                        }
                        img {
                            @include width-height(100%);
                            @include position(relative);
                            @media screen and (max-width: 576px) {
                                @include width-height(300px, 240px);
                            }
                        }
                    }
                    .text-container {
                        @include displaySet(flex, space-between, $flex-direction: column);
                        @include width-height($height: 275px);
                        padding: 20px;
                    }
                    &__title {
                        font-size: 22px;
                        font-family: 'GothamBold', sans-serif;
                    }
                    &__text {
                        line-height: 1.5;
                        font-size: 18px;
                        font-family: 'Open Sans', sans-serif;
                    }
                    &__authorbox {
                        @include displaySet(flex, $align-items: center);
                        @include width-height(100%, 60px);
                        .avtr-container {
                            margin-right: 20px;
                            img {
                                border-radius: 50%;
                            }
                        }
                        .text__name {
                            font-size: 18px;
                            text-transform: uppercase;
                            padding-bottom: 5px;
                        }
                        .text__date {
                            color: #55b7ff;
                            font-size: 14px;
                        }
                    }
                }
            }   
        }
    }
    .news__title {
        margin-bottom: 110px;
        &::before {
            border: 1px solid #fff;
        }
        @media screen and (max-width: 1200px) {
            margin-bottom: 60px;
        }
    }
    .news__bg-color  {
        @include position(absolute, $bottom: 0, $left: 0);
        @include width-height(100%);
        opacity: 0.1;
        img {
            @include width-height(100%);
        }
    }
}
.gallery {
    @include displaySet(flex, space-around, center);
    padding: 160px calc(50vw - (1170px / 2));
    @media screen and (max-width: 1200px) {
        padding: 80px calc(50vw - (1170px / 2));
    }
    @media screen and (max-width: 1200px) {
        padding: 60px calc(50vw - (1170px / 2));
    }
    .gallery__title {
        color: #2c4058;
    }
    .block {
        @include displaySet(flex, space-between, center, column);
        @include width-height(100%, 680px, 1170px);
        padding: 0 10px;
        @media screen and (max-width: 1200px) {
            @include width-height($height: 600px);
        }
        @media screen and (max-width: 992px) {
            @include width-height($height: fit-content);
        }
        &__container {
            @include displaySet(flex, space-between);
            @include width-height(100%, $max-width: 1170px);
            @media screen and (max-width: 992px) {
                @include displaySet($align-items: center, $flex-direction: column);
                @include width-height($height: fit-content);
                padding: 30px 0;
            }
            @media screen and (max-width: 576px) {
                @include width-height(300px);
            }
            .container__bigimg {
                @include width-height($max-width: 580px, $max-height: 440px);
                @include position(relative);
                margin-right: 10px;
                @media screen and (max-width: 1200px) {
                    min-width: 480px;
                }
                @media screen and (max-width: 992px) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
                @media screen and (max-width: 576px) {
                    min-width: 300px;
                }
                img {
                    @include width-height(100%, 100%);
                }
                &:hover {
                    cursor: pointer;
                    &:after {
                        @include pseudo();
                        @include position($top: 0, $left: 0);
                        @include width-height(100%, 440px, 580px);
                        background-image: url('../img/svg/icon-360-view.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            .container__smallimgs {
                @include displaySet(flex, space-between, $flex-direction: column);
                @include width-height(100%, $max-width: 580px);
                .levelimg {
                    @include displaySet(flex, space-between);
                    @media screen and (max-width: 576px) {
                        @include displaySet(block);
                    }
                    &:first-child {
                        margin-bottom: 10px;
                    }
                    .container__smallimg {
                        @include position(relative);
                        @include width-height($max-width: 285px, $max-height: 215px);
                        @media screen and (max-width: 576px) {
                            @include width-height($max-width: 300px);
                        }
                        &:first-child {
                            margin-right: 10px;
                            @media screen and (max-width: 576px) {
                                margin-right: 0;
                                margin-bottom: 10px;
                            }
                        }
                        img {
                            @include width-height(100%, 100%);
                            @media screen and (max-width: 576px) {
                                @include width-height(300px, 215px);
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            &:after {
                                @include pseudo();
                                @include position($top: 0, $left: 0);
                                @include width-height(100%, 215px, 285px);
                                background-image: url('../img/svg/icon-360-view.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }
        .block__btn {
            color: #2c4058;
            text-transform: uppercase;
            &:hover {
                color: #fff;
            }
        }
    }
}
#map {
    @include width-height(100%, 700px);
    width: 100%;
    height: 700px;
    @media screen and (max-width: 1200px) {
        @include width-height($height: 400px);
    }
}
.footer {
    @include position(relative);
    background: linear-gradient(45deg, rgba(85,183,255,1) 0%, rgba(126,90,255,1) 100%);
    .footbg {
        @include position(absolute, $top: 0, $left: 0);
        @include width-height(100%, 525px);
        object-fit: cover;
        opacity: 0.03;
        img {
            @include width-height(100%, 100%);
        }
    }
}
.footer__block {
    @include position(relative);
    padding: 200px calc(50vw - (780px / 2));
    @media screen and (max-width: 1200px) {
        padding: 90px calc(50vw - (780px / 2));
    }
    @media screen and (max-width: 576px) {
        @include displaySet(flex, $align-items: center, $flex-direction: column);
    }
    .block__content {
        @include position($z_index: 1);
        @include displaySet(flex, space-between, center);
        padding: 0 20px;
        @media screen and (max-width: 576px) {
            @include displaySet($flex-direction: column);
        }
        .nav__menu_2 {
            @include width-height(160px);
            padding-left: 0;
            @media screen and (max-width: 576px) {
                padding-top: 15px;
            }
        }
    }
    .footer__textblock {
        @include displaySet(flex, space-between, center);
        @include width-height(420px);
        padding-left: 20px;
        padding-top: 45px;
        font-size: 14px;
        @media screen and (max-width: 576px) {
            @include displaySet($justify-content: center, $flex-direction: column);
            @include width-height(fit-content);
        }
        .withlove {
            @media screen and (max-width:576px) {
                padding-top: 10px;
            }
            &::before {
                content: '|';
                font-size: 20px;
                margin-right: 20px;
                @media screen and (max-width: 576px) {
                    @include displaySet(none);
                }
            }
        }
    }
    
}
.formblock {
    @include сentering-xy();
    @include position($top: -300px, $z_index: 1);
    @include displaySet(flex, center, $flex-direction: column);
    @include width-height(100%, 450px, 770px);
    padding: 90px 60px 80px;
    background-color: #fff;
    color: #2c4058;
    @media screen and (max-width: 1200px) {
        @include width-height(100%, 380px, 670px);
        padding: 40px 25px 30px;
    }
    @media screen and (max-width: 576px) {
        @include position($top: -370px);
        @include width-height($height: 450px);
        padding: 90px 5px 80px;
    }
    .formblock__container {
        @include position($z_index: 1);
        @media screen and (max-width: 576px) {
            padding-top: 10px;
            @include displaySet($align-items: center, $justify-content: space-around, $flex-direction: column);
        }
    }
    .img-container {
        @include position(absolute, $bottom: 0, $left: 0, $z_index: -1);
        opacity: 0.07;
    }
    &__container {
        @include displaySet(flex, space-between);
        padding-top: 55px;
        .textblock {
            @include displaySet(flex, space-between, $flex-direction:column);
            @media screen and (max-width: 576px) {
                @include width-height(300px, 110px);
                padding-top: 10px;
            }
            i {
                margin-right: 5px;
            }
        }
        .form {
            @include position(relative);
            @include width-height(310px, 190px);
            padding-left: 10px;
            @media screen and (max-width: 576px) {
                @include displaySet(flex, space-around, $flex-direction:column);
                @include width-height(300px);
                padding-left: 0;
                padding-top: 10px;
            }
            .input {
                @include width-height(100%, 25px);
                border: none;
                font-size: 18px;
                color: #2c4058;
                &::placeholder {
                    font-size: 18px;
                    color: #a5aab0;
                }
                &:focus {
                    outline: none;
                }
            }
            div {
                @include position(relative);
                &::after {
                    @include pseudo();
                    @include position($top: 6px);
                    @include width-height(100%);
                    border-bottom: 2px solid #d5d9de;
                    @media screen and (max-width: 576px) {
                        @include position($top: -15px);
                    }
                }
            }
            .input:focus + div::after {
                @include pseudo();
                @include width-height(100%);
                border-bottom: 2px solid #2c4058;
            }
            .form__email {
                margin-top: 20px;
                @media screen and (max-width: 576px) {
                    margin-top: 0;
                }
            }
            .block__btn {
                @include position(absolute, $bottom: 0, $right: 0);
                @include width-height(140px);
                text-transform: uppercase;
                @media screen and (max-width: 576px) {
                    @include position(relative);
                    overflow: hidden;
                }
                &::after {
                    @include position($left: 120%);
                    @media screen and (max-width: 576px) {
                        @include position($top: 0, $left: -155%, $z_index: -1);
                    }
                }
                &::before {
                    @include position($left: -160%);
                    @media screen and (max-width: 576px) {
                        @include position($top: 0, $left: 120%, $z_index: -1);
                    }
                }
                &:hover {
                    &::before {
                        transition: 1s;
                        transform: skew(45deg) translateX(-52%);
                    }
                    &::after {
                        transition: 1s;
                        transform: skew(45deg) translateX(52%);
                    }
                }
            }
        }
    }
    .fas, 
    .far {
        color: #8765ff;
    }
}
@media screen and (max-width: 992px) {
    #nav {
        @include position(absolute, $top: -50px, $right: 0);
        @include width-height(50vw,104vh);
        @include displaySet($justify-content: center, $flex-direction:column);
        transform: translate(100vw, 0);
        box-sizing: border-box;
        transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
        border-bottom-left-radius: 100vw;
        background: rgba(255, 255, 255, 0.75);
        padding-left: 0;
        @media screen and (max-width: 576px) {
            @include width-height(100vw,100vh);
        }
        .nav__menu {
            @include displaySet($justify-content: end, $flex-direction:column);
            @include width-height($height: auto);
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            pointer-events: auto;
            padding-top: 50px;
            .menu__item {
                @include displaySet(flex, center, center);
                @include width-height(100%, 50px);
                list-style: none;
                text-transform: uppercase;
                white-space: nowrap;
                box-sizing: border-box;
                transform: translatex(100vw);
                margin-bottom: 10px;
                &::after {
                    @include displaySet(none);
                }
                &:last-child {
                    margin-bottom: 2em;
                }
                .menu__link {
                    @include displaySet(block);
                    text-decoration: none;
                    color: #333;
                    text-align: center;
                    font-size: calc(24px - .5vw);
                    &::before {
                        @include displaySet(none);
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .nav__menu_2 {
            padding-left: 0;
            .icon-container {
                color: #2c4058;
                border: 1px solid #2c4058;
            }
        }
    }
    input.hamburger {
        &:checked {
            & ~ #nav {
                transform: translatex(0);
                border-bottom-left-radius: 0;
                .menu__item {
                    transform: translatex(0);
                }
            }
            & ~ label {
                > i {
                    background-color: transparent;
                    transform: rotate(90deg);
                    &:before {
                        background-color: #333;
                        transform: translate(-50%, -50%) rotate(315deg);
                    }
                    &:after {
                        background-color: #333;
                        transform: translate(-50%, -50%) rotate(-315deg);
                    }
                }
            }
            & ~ .menu-label>.close {
                color: #333;
                @include width-height(100%);
            }
            & ~ .menu-label>.open {
                color: #ffffff00;
                @include width-height(0);
            }
        }
    }
    .menu-label {
        @include position(absolute, $top: 10px, $right: 25px, $z_index: 3);
        @include width-height(50px, 20px);
        @media screen and (max-width: 576px) {
            @include position($top: 0);
        }
        .close,
        .open {
            @include position(absolute);
            @include width-height(50px, 20px);
            text-transform: uppercase;
            font-size: .8em;
            text-align: center;
            transform: translateY(50px);
            overflow: hidden;
            transition: width .25s .35s, color .45s .35s;
        }
        .close {
            @include position($right: 0);
            @include width-height(0);
            color: #00000000;
        }
        .open {
            @include width-height(100%);
            color: $text;
        }
    }
    label.hamburger {
        @include displaySet(block);
        @include position(relative, $z_index: 4);
        @include width-height(50px, 50px);
        @media screen and (max-width: 576px) {
            @include width-height($height: 35px);
        }
        &:hover {
            cursor: pointer;
        }
        > i {
            @include position(absolute, $top: 50%);
            @include width-height(100%, 2px);
            background-color: $text;
            pointer-events: auto;
            transition-duration: .35s;
            transition-delay: .35s;
            &:before,
            &:after {
                @include pseudo();
                @include width-height(100%, 2px);
                @include position($left: 50%);
                background-color: #fff;
                transition: transform 0.35s;
                transform-origin: 50% 50%;
            }
            &:before {
                transform: translate(-50%, -14px);
            }
            &:after {
                transform: translate(-50%, 14px);
            }
        }
    }
}